# Node
node_modules/
npm-debug.log

# Env files
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build folders
dist/
build/

# Optional (your case)
*.xlsx

# Firebase Credentials
backend/firebase-service-account.json
